html {
  overflow-x: hidden;
}

body {
  background: url('https://source.unsplash.com/category/nature') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#header {
  background-color: rgba(0, 0, 0, 0.5);
  color: #FFFFFF;
}

#logo {
  font-size: 400%;
  font-family: 'Pacifico';
}

#search {
  float: right;
}

iframe {
  height: 400px;
  border: 0;
}

#playList {
  background-color: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  overflow-y: scroll;
  overflow-x: hidden;
  border: 1px solid black;
  height: 400px;
  text-align: center;
  color: white;
}

.item {
  border-bottom: 1px solid black;
}
