/*TODO: styling for front-end*/
#vidContainer {
  position: absolute; 
  height: 800px;
  width: 1200px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

#logo {
  font-size: 30px;
  font-family: 'Pacifico';
}

#search {
  margin-top: 30px;
  margin-right: 100px;
  float: right;
}

#video {
  position: relative;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  height: 480px;
  width: 854px;
}

#playList {
  box-sizing: border-box;
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  float: right;
  height: 800px;
  width: 250px;
  text-align: center;
}

.playListVideo {
  border: 1px solid black;
}

.input {
  font-size: 20px;
}

li {
  text-align: center;
  border: 1px solid black;
}