html {
  overflow-x: hidden;
  width: 99%;
}

body {
  background: url('https://source.unsplash.com/category/nature') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#weather {
  background-color: rgba(0, 0, 0, 0.5);
  height: 80%;
  border: 1px solid black;
  overflow-y: scroll;
}

#header {
  background-color: rgba(0, 0, 0, 0.5);
  width: 101%;
  margin-top: 0;
}

#logo {
  font-size: 400%;
  font-family: 'Pacifico';
  color: #FFFFFF;
}

#info {
  font-size: 200%;
  color: #FFFFFF;
}

#search {
  float: right;
}

iframe {
  height: 80%;
  border: 0;
}

#playList {
  background-color: rgba(0, 0, 0, 0.5);
  overflow-y: scroll;
  overflow-x: hidden;
  border: 1px solid black;
  height: 80%;
  color: white;
}

.item {
  border-bottom: 1px solid black;
}
