<div class="page-header" id="header">
  <span id="logo">Rain Song</span>

  <form ng-submit="getWeatherByInput()" id="search">
    <input ng-model="city" placeholder="Search by city"></input>
    <button>Search</button>  
  </form>
</div>

<div ng-init="getWeatherGeoLocation()" class="row" style="height: {{ height }}px">
  <div class="col-xs-3" id="weather">
    <span id="info">{{ weather }}<br>{{ location }}</span><br>
    <p style="color: #FFF" ng-repeat="whatever in playlist">
      Anything can go here honestly... Anything.
    </p>
  </div>

  <iframe class="col-xs-6" src="{{ data }}" allowfullscreen="true"></iframe>

  <div id="playList" class="col-xs-3">
    <div class="item" ng-Repeat="item in playlist track by $index">
      <div class="row" ng-Click="playlistClick(item, playlist)">
        <img class="col-xs-6" id="thumb" src="{{ item.snippet.thumbnails.default.url }}" />
        <div class="col-xs-6">
          <span>{{ item.snippet.title }}</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div ng-repeat="comment in comments">
    {{comment.userName}}
    {{comment.timeStamp}}
    {{comment.comment}}
  </div>
  <form>
    <input ng-model="commentInput">
    <button ng-click="addComment()">Add Comment</button>
  </form>
</div>
